<?xml version="1.0" encoding="UTF-8"?>
<gui name="chigraphgui"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
	
 	<State name="has-main-module">
		<enable>
			<Action name="start-debug" />
		</enable>
	</State>
  <MenuBar>
    <Menu name="debugger" >
		<Text>Debug</Text>
		<Action name="start-debug" />
		<Action name="toggle-breakpoint" />
    </Menu>
  </MenuBar>
 
	<ToolBar name="debuggerToolBar" >
		<Text>Debugger Toolbar</Text>
		<Action name="start-debug" />
		<Action name="toggle-breakpoint" />
  </ToolBar>
 
  
</gui>

