BasedOnStyle: Google

IndentWidth: 4
Language: Cpp
PointerAlignment: Left
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBraces: Linux
UseTab: Always
TabWidth: 4
AlignAfterOpenBracket: false
PointerAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
