<?xml version="1.0" encoding="UTF-8"?>
<gui name="chigraphgui"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
  <MenuBar>
    <Menu name="file" >
	  <Action name="new" />
	  <Action name="open" />
      <Action name="open-recent" />
	  <Action name="save" />
    </Menu>
    <Menu name="process" >
      <text>&amp;Process</text>
	  <Action name="run" />
	  <Action name="cancel" />
    </Menu>
	<Menu name="settings">
		<Action name="theme" />
	</Menu>
  </MenuBar>
 
	<ToolBar name="mainToolBar" >
		<text>Main Toolbar</text>
			<Action name="open" />
			<Action name="save" />
			<Action name="run" />
			<Action name="cancel" />
			<Action name="new-module" />
			<Action name="new-function" />
  </ToolBar>
 
</gui>
